@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
/*chrome,opera,safari,edge客製捲軸*/
#game #content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
#game #content::-webkit-scrollbar-track {
  background: none;
}
#game #content::-webkit-scrollbar-thumb {
  background-color: #674636;
  border-radius: 12px;
}

//客製化input range track
#setting #options .custom-range::-webkit-slider-runnable-track{
  background-color: #f7eed3;
  height: 0.5rem;
}
#setting #options .custom-range::-moz-range-track{
  background-color: #f7eed3;
  height: 0.5rem;
}
//客製化input range thumb
#setting #options .custom-range::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1rem;
  height: 2rem;
  background-color: #674636;
  position: relative;
  top: -0.75rem;
}
#setting #options .custom-range::-moz-range-thumb{
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  appearance: none;
  width: 1rem;
  height: 2rem;
  background-color: #674636;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: "Charm", cursive;
  cursor: none;
}
$color1: #fff8e8;
$color2: #f7eed3;
$color4: #674636;
$transitionTime: 0.5s;
$getInTime: 1s;

#logo-image {
  display: none;
}
#mouse {
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    pointer-events: none;//客製鼠標本身不要當鼠標事件的對象，不然會干擾到原本鼠標對象的事件
    img{
        width: 100%;
    }
}

#entry {
  position: relative;
  height: 100dvh;
  background-color: #fff8e8;
  #close-game-button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    color: #674636;
    background: none;
    border: none;
    font-size: 2rem;
    transition: $transitionTime;
    &:hover {
      filter: brightness(1.5);
    }
  }
  #title {
    text-align: center;
    padding-block-start: 2dvh;
    padding-block-end: 10dvh;
    .letter {
      opacity: 0;
      transition-duration: 1s;
      color: #674636;
      font-size: 8rem;
      font-weight: 700;
    }
  }
  #middle {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    #start {
      font-size: 4rem;
      font-weight: 700;
      background-color: #674636;
      color: #fff8e8;
      border: none;
      opacity: 0;
      transform: translateX(-200px);
      border-radius: 10px;
      padding-inline: 10px;
      filter: drop-shadow(3px 5px 5px #674636);
      transition: $getInTime;
      &:hover {
        filter: drop-shadow(3px 5px 5px #674636) brightness(1.5);
      }
      &.in {
        transform: none;
        opacity: 1;
      }
    }
    #cover-img {
      width: 350px;
      clip-path: circle(0%);
      filter: sepia(0.7);
      opacity: 0;
      transform: translateX(200px);
      transition: $getInTime;
      &.in {
        clip-path: circle(50%);
        transform: none;
        opacity: 1;
      }
    }
  }
  #copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #674636;
    color: #fff8e8;
    text-align: center;
  }
}
#game{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100dvh;
    background-color: #fff8e8;
    border: 5px solid #674636;
   /*  border-image-source: url('image/wood.jpg');
    border-image-width: 5px;
    border-image-repeat: stretch;
    border-image-slice: 5; */
    #gear{
      position: absolute;
      right: 20px;
      top: 20px;
      background: none;
      border: none;
      width: 2rem;
      height: 2rem;
      transition: $transitionTime;
      img{
        width: 100%;
      }
      &:hover {
        filter: brightness(1.5);
      }
    }
    time{
      position: absolute;
      right: 20px;
      top: 60px;
      color: #674636;
      font-size: 2rem;
    }
    #icon{
      position: absolute;
      left: 0;
      top: 0;
      width: 6rem;
      height: 6rem;
      padding: 10px;
      border-right: 5px solid #674636;
      border-bottom: 5px solid #674636;
     /*  border-image-source: url('image/wood.jpg');
      border-image-width: 0 5px 5px 0;
      border-image-repeat: stretch;
      border-image-slice: 5; */
    }
    #subject{
      position: absolute;
      top: 20px;
      color: #674636;
      font-size: 4rem;
      font-weight: 700;
      text-align: center;
    }
    #content{
      width: 60%;
      max-width: 800px;
      height: 500px;
      padding: 20px;
      overflow-y: auto;
      color: #674636;
      margin-block-end: 30px;
      font-size: 16px;
      border: 5px solid #674636;
      img{
        width: 60%;
        max-width: 200px;
        margin-block: 5px;
      }
    }
    #events{
      opacity: 0;
      transition: $transitionTime;
      button{
        font-size: 1.5rem;
        border: none;
        background-color: #674636;
        color: #fff8e8;
        padding-inline: 10px;
        transition: $transitionTime;
        &:hover {
          filter: brightness(1.5);
        }
      }
    }
}
#setting{
  display: none;
  place-items: center;
  position: relative;
  height: 100dvh;
  background-color: #fff8e8;
  /* border-image-source: url('image/wood.jpg');
  border-image-width: 5px;
  border-image-repeat: stretch;
  border-image-slice: 5; */
  border: 5px solid #674636;
  #back-to-game{
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    transition: $transitionTime;
    img{
      width: 100%;
    }
    &:hover {
      filter: brightness(1.5);
    }
  }
  #options{
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  border-image-source: url('image/wood.jpg');
    border-image-width: 5px;
    border-image-repeat: stretch;
    border-image-slice: 5; */
    border: 5px solid #674636;
    padding: 30px;
    width: 200px;
    .subtitles{
      font-size: 2rem;
      color: #674636;
    }
    #music-box{
      display: block;
      position: relative;
      width: 32px;
      height: 32px;
      #setting-music{
          position: absolute;
          opacity: 0;
          &:checked ~ #custom-checkbox::after{
              display: flex;
          }
      }
      #custom-checkbox{
          display: block;
          position: absolute;
          left: 0;
          top: calc(50% - 16px);
          height: 32px;
          width: 32px;
          background-color: #f7eed3;
          border: 3px solid #674636;
          &::after{
              content: "✔";
              position: absolute;
              display: none;
             justify-content: center;
             align-items: center;
              height: 32px;
              width: 32px;
              left: -3px;
              top: -3px;
              color: #fff8e8;
              font-size: 1.5rem;
              background-color: #674636;
          }
      }
  }
  .custom-range{
    appearance: none;
    width: 100%;
    margin-block: 30px;
    overflow: visible;
  }
  #left-game-button{
      font-size: 1.5rem;
      border: none;
      background-color: #674636;
      color: #fff8e8;
      padding-inline: 10px;
      transition: $transitionTime;
      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}
#close-game-dialog {
  position: fixed;
  left: calc(50% - 125px);
  top: calc(50% - 75px);
  transform: translateY(100px);
  opacity: 0;
  background-color: #f7eed3;
  width: 250px;
  height: 150px;
  border: 3px solid #674636;
  transition: $transitionTime;
  #close-dialog-button {
    position: absolute;
    right: 15px;
    top: 5px;
    border: none;
    background: none;
    color: #674636;
    font-size: 1.3rem;
    transition: $transitionTime;
    &:hover {
      filter: brightness(1.5);
    }
  }
  #message {
    color: #674636;
    font-size: 2rem;
    text-align: center;
  }
  #buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 10px;
    #confirm,
    #cancel {
      font-size: 1.5rem;
      border: none;
      background-color: #674636;
      color: #fff8e8;
      padding-inline: 10px;
      transition: $transitionTime;
      &:hover {
        filter: brightness(1.5);
      }
    }
  }
  &.open {
    transform: none;
    opacity: 1;
  }
}

@for $i from 1 through 13 {
  #entry #title .letter:nth-of-type(#{$i}) {
    transition-delay: 0.1s + ($i - 1) * 0.05s;
  }
}

@media screen and (max-width: 576px) {
  *{
    cursor: auto;
  }
  #mouse{
    display: none;
  }
  #entry {
    #title {
      .letter {
        font-size: 2rem;
      }
    }
    #middle {
      flex-direction: column-reverse;
      #start {
        font-size: 1.5rem;
      }
      * {
        margin-block: 30px;
      }
    }
    #get-in {
      font-size: 3rem;
    }
  }
  #game{
    #subject{
      font-size: 2rem;
    }
    #events{
      display: flex;
      flex-direction: column;
      .event{
        margin-block: 2px;
      }
    }
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  #entry {
    #title {
      .letter {
        font-size: 4rem;
      }
    }
    #middle {
      flex-direction: column-reverse;
      #start {
        font-size: 2rem;
      }
      * {
        margin-block: 30px;
      }
    }
    #get-in {
      font-size: 4rem;
    }
  }
  #game{
    #events{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
      gap: 2px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #entry {
    #title {
      .letter {
        font-size: 6rem;
      }
    }
    #middle {
      #start {
        font-size: 3rem;
      }
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 400px) and (max-height: 576px) {
  *{
    cursor: auto;
  }
  #mouse{
    display: none;
  }
  #entry {
    #title {
      padding-block-end: 2dvh;
      .letter {
        font-size: 4rem;
      }
    }
    #middle {
      #start {
        font-size: 2rem;
      }
      #cover-img{
        width: 200px;
      }
    }
    #get-in {
      font-size: 3rem;
    }
  }
  #game{
      #subject{
        font-size: 2rem;
      }
    #content{
      height: 200px;
      margin-block-start: 80px;
      margin-block-end: 10px;
    }
  }
  #setting{
    #options{
      width: 400px;
      padding: 15px 30px;
      .custom-range{
        margin-block: 15px;
      }
    }
   
   
  }
}
