@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
/*chrome,opera,safari,edge客製捲軸*/
#game #content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

#game #content::-webkit-scrollbar-track {
  background: none;
}

#game #content::-webkit-scrollbar-thumb {
  background-color: #674636;
  border-radius: 12px;
}

#setting #options .custom-range::-webkit-slider-runnable-track {
  background-color: #f7eed3;
  height: 0.5rem;
}

#setting #options .custom-range::-moz-range-track {
  background-color: #f7eed3;
  height: 0.5rem;
}

#setting #options .custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1rem;
  height: 2rem;
  background-color: #674636;
  position: relative;
  top: -0.75rem;
}

#setting #options .custom-range::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  -moz-appearance: none;
       appearance: none;
  width: 1rem;
  height: 2rem;
  background-color: #674636;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: "Charm", cursive;
  cursor: none;
}

#logo-image {
  display: none;
}

#mouse {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  pointer-events: none;
}
#mouse img {
  width: 100%;
}

#entry {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
  background-color: #fff8e8;
}
#entry #close-game-button {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  color: #674636;
  background: none;
  border: none;
  font-size: 2rem;
  transition: 0.5s;
}
#entry #close-game-button:hover {
  filter: brightness(1.5);
}
#entry #title {
  padding-block-start: 2dvh;
}
#entry #title .letter {
  opacity: 0;
  transition-duration: 1s;
  color: #674636;
  font-size: 8rem;
  font-weight: 700;
}
#entry #middle {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#entry #middle #start {
  font-size: 4rem;
  font-weight: 700;
  background-color: #674636;
  color: #fff8e8;
  border: none;
  opacity: 0;
  transform: translateX(-200px);
  border-radius: 10px;
  padding-inline: 10px;
  filter: drop-shadow(3px 5px 5px #674636);
  transition: 1s;
}
#entry #middle #start:hover {
  filter: drop-shadow(3px 5px 5px #674636) brightness(1.5);
}
#entry #middle #start.in {
  transform: none;
  opacity: 1;
}
#entry #middle #cover-img {
  width: 350px;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  filter: sepia(0.7);
  opacity: 0;
  transform: translateX(200px);
  transition: 1s;
}
#entry #middle #cover-img.in {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  transform: none;
  opacity: 1;
}
#entry #copyright {
  text-align: center;
  width: 100%;
  background-color: #674636;
  color: #fff8e8;
}

#game {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100dvh;
  background-color: #fff8e8;
  border: 5px solid #674636;
  /*  border-image-source: url('image/wood.jpg');
   border-image-width: 5px;
   border-image-repeat: stretch;
   border-image-slice: 5; */
}
#game #gear {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
}
#game #gear img {
  width: 100%;
}
#game #gear:hover {
  filter: brightness(1.5);
}
#game time {
  position: absolute;
  right: 20px;
  top: 60px;
  color: #674636;
  font-size: 2rem;
}
#game #icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 6rem;
  height: 6rem;
  padding: 10px;
  border-right: 5px solid #674636;
  border-bottom: 5px solid #674636;
  /*  border-image-source: url('image/wood.jpg');
   border-image-width: 0 5px 5px 0;
   border-image-repeat: stretch;
   border-image-slice: 5; */
}
#game #subject {
  color: #674636;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
#game #content {
  width: 60vw;
  max-width: 800px;
  max-height: 400px;
  height: 45dvh;
  padding: 20px;
  overflow-y: auto;
  color: #674636;
  margin-block-end: 30px;
  font-size: 20px;
  border: 5px solid #674636;
}
#game #content img {
  width: 60%;
  max-width: 200px;
  margin-block: 5px;
}
#game #content #final-btns {
  opacity: 0;
  transition: 0.5s;
}
#game #content #final-btns.show {
  opacity: 1;
}
#game #content #final-btns .final-btn {
  font-size: 16px;
  border: none;
  background-color: #674636;
  color: #fff8e8;
  padding-inline: 10px;
  transition: 0.5s;
  margin-inline-end: 5px;
}
#game #content #final-btns .final-btn:hover {
  filter: brightness(1.5);
}
#game #events {
  opacity: 0;
  transition: 0.5s;
}
#game #events button {
  font-size: 16px;
  border: none;
  background-color: #674636;
  color: #fff8e8;
  padding-inline: 10px;
  transition: 0.5s;
}
#game #events button:hover {
  filter: brightness(1.5);
}

#setting {
  display: none;
  place-items: center;
  position: relative;
  height: 100dvh;
  background-color: #fff8e8;
  /* border-image-source: url('image/wood.jpg');
  border-image-width: 5px;
  border-image-repeat: stretch;
  border-image-slice: 5; */
  border: 5px solid #674636;
}
#setting #back-to-game {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
}
#setting #back-to-game img {
  width: 100%;
}
#setting #back-to-game:hover {
  filter: brightness(1.5);
}
#setting #options {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  border-image-source: url('image/wood.jpg');
   border-image-width: 5px;
   border-image-repeat: stretch;
   border-image-slice: 5; */
  border: 5px solid #674636;
  padding: 30px;
  width: 200px;
}
#setting #options .subtitles {
  font-size: 2rem;
  color: #674636;
}
#setting #options #music-box {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
}
#setting #options #music-box #setting-music {
  position: absolute;
  opacity: 0;
}
#setting #options #music-box #setting-music:checked ~ #custom-checkbox::after {
  display: flex;
}
#setting #options #music-box #custom-checkbox {
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 16px);
  height: 32px;
  width: 32px;
  background-color: #f7eed3;
  border: 3px solid #674636;
}
#setting #options #music-box #custom-checkbox::after {
  content: "✔";
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  left: -3px;
  top: -3px;
  color: #fff8e8;
  font-size: 1.5rem;
  background-color: #674636;
}
#setting #options .custom-range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin-block: 30px;
  overflow: visible;
}
#setting #options #left-game-button {
  font-size: 1.5rem;
  border: none;
  background-color: #674636;
  color: #fff8e8;
  padding-inline: 10px;
  transition: 0.5s;
}
#setting #options #left-game-button:hover {
  filter: brightness(1.5);
}

#close-game-dialog {
  position: fixed;
  left: calc(50% - 125px);
  top: calc(50% - 75px);
  transform: translateY(100px);
  opacity: 0;
  background-color: #f7eed3;
  width: 250px;
  height: 150px;
  border: 3px solid #674636;
  transition: 0.5s;
}
#close-game-dialog #close-dialog-button {
  position: absolute;
  right: 15px;
  top: 5px;
  border: none;
  background: none;
  color: #674636;
  font-size: 1.3rem;
  transition: 0.5s;
}
#close-game-dialog #close-dialog-button:hover {
  filter: brightness(1.5);
}
#close-game-dialog #message {
  color: #674636;
  font-size: 2rem;
  text-align: center;
}
#close-game-dialog #buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-block-start: 10px;
}
#close-game-dialog #buttons #confirm,
#close-game-dialog #buttons #cancel {
  font-size: 1.5rem;
  border: none;
  background-color: #674636;
  color: #fff8e8;
  padding-inline: 10px;
  transition: 0.5s;
}
#close-game-dialog #buttons #confirm:hover,
#close-game-dialog #buttons #cancel:hover {
  filter: brightness(1.5);
}
#close-game-dialog.open {
  transform: none;
  opacity: 1;
}

#entry #title .letter:nth-of-type(1) {
  transition-delay: 0.1s;
}

#entry #title .letter:nth-of-type(2) {
  transition-delay: 0.15s;
}

#entry #title .letter:nth-of-type(3) {
  transition-delay: 0.2s;
}

#entry #title .letter:nth-of-type(4) {
  transition-delay: 0.25s;
}

#entry #title .letter:nth-of-type(5) {
  transition-delay: 0.3s;
}

#entry #title .letter:nth-of-type(6) {
  transition-delay: 0.35s;
}

#entry #title .letter:nth-of-type(7) {
  transition-delay: 0.4s;
}

#entry #title .letter:nth-of-type(8) {
  transition-delay: 0.45s;
}

#entry #title .letter:nth-of-type(9) {
  transition-delay: 0.5s;
}

#entry #title .letter:nth-of-type(10) {
  transition-delay: 0.55s;
}

#entry #title .letter:nth-of-type(11) {
  transition-delay: 0.6s;
}

#entry #title .letter:nth-of-type(12) {
  transition-delay: 0.65s;
}

#entry #title .letter:nth-of-type(13) {
  transition-delay: 0.7s;
}

@media screen and (max-width: 576px) {
  * {
    cursor: auto;
  }
  #mouse {
    display: none;
  }
  #entry #title .letter {
    font-size: 2rem;
  }
  #entry #middle {
    flex-direction: column-reverse;
  }
  #entry #middle #start {
    font-size: 1.5rem;
  }
  #entry #middle * {
    margin-block: 30px;
  }
  #game #icon {
    width: 4rem;
    height: 4rem;
  }
  #game #subject {
    font-size: 2rem;
  }
  #game #events {
    display: flex;
    flex-direction: column;
  }
  #game #events .event {
    margin-block: 2px;
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  #entry #title .letter {
    font-size: 4rem;
  }
  #entry #middle {
    flex-direction: column-reverse;
  }
  #entry #middle #start {
    font-size: 2rem;
  }
  #entry #middle * {
    margin-block: 30px;
  }
  #game #events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #entry #title .letter {
    font-size: 6rem;
  }
  #entry #middle #start {
    font-size: 3rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 400px) and (max-height: 576px) {
  * {
    cursor: auto;
  }
  #mouse {
    display: none;
  }
  #entry #title .letter {
    font-size: 2.5rem;
  }
  #entry #middle #start {
    font-size: 2rem;
  }
  #entry #middle #cover-img {
    width: 150px;
  }
  #game #subject {
    font-size: 1.5rem;
  }
  #game #content {
    max-height: 180px;
    height: 60dvh;
    margin-block-end: 20px;
  }
  #setting #back-to-game {
    width: 1.5rem;
    height: 1.5rem;
  }
  #setting #options {
    width: 500px;
    padding: 10px 30px;
  }
  #setting #options .subtitles {
    font-size: 1rem;
  }
  #setting #options #music-box {
    width: 24px;
    height: 24px;
  }
  #setting #options #music-box #custom-checkbox {
    top: calc(50% - 12px);
    height: 24px;
    width: 24px;
  }
  #setting #options #music-box #custom-checkbox::after {
    height: 24px;
    width: 24px;
    left: -3px;
    top: -3px;
    color: #fff8e8;
    font-size: 1rem;
    background-color: #674636;
  }
  #setting #options .custom-range {
    margin-block: 15px;
  }
  #setting #options #left-game-button {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */